<!DOCTYPE html>
<html>
    <head>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>-->
        <script src='dist/bundle.js' type='text/javascript'></script>
    </head>
    <body ng-app="formFlickr" ng-controller="FlickrController">
        <h1>Search Images with Flickr API</h1>
        <form>
            <input ng-model="tags"/>
            <br />
            <button type="submit" ng-click="search(tags)">
                Search Flicker
            </button>
        </form>
        <div ng-if="images.items.length > 0">
            <h3>
                {{images.title}}
            </h3>
            <figure ng-repeat="i in images.items">
                <img src="{{i.media.m}}" />
                <figcaption>{{i.title}}</figcaption>
            </figure>
        </div>
    </body>
</html>